In [3]:
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Users\anshg\Downloads\Data.csv - Data.csv.csv")

In [8]:
shape = data.shape

In [9]:
print("Shape of Data:", shape)

Shape of Data: (10, 4)

In [10]:
missing_values = data.isnull().sum()

In [11]:
print("\nMissing Values in each column:")
print(missing_values)

Missing Values in each column:
Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [12]:
data_types = data.dtypes

In [13]:
print("\nData Types of each column:")
print(data_types)

Data Types of each column:
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [14]:
zero_counts = (data == 0).sum()
print("\nCount of Zeros in each column:")
print(zero_counts)

Count of Zeros in each column:
Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [15]:
selected_data = data['Salary']
print("\nSelected Data (Salary column):")
print(selected_data)

Selected Data (Salary column):
0    72000.0
1    48000.0
2    54000.0
3    61000.0
4        NaN
5    58000.0
6    52000.0
7    79000.0
8    83000.0
9    67000.0
Name: Salary, dtype: float64

In [16]:
sorted_data = data.sort_values(by='Salary')
print("\nData sorted by Salary:")
print(sorted_data)

Data sorted by Salary:
   Country   Age   Salary Purchased
1    Spain  27.0  48000.0       Yes
6    Spain   NaN  52000.0        No
2  Germany  30.0  54000.0        No
5   France  35.0  58000.0       Yes
3    Spain  38.0  61000.0        No
9   France  37.0  67000.0       Yes
0   France  44.0  72000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
4  Germany  40.0      NaN       Yes

In [17]:
description = data.describe()
print("\nDescription of Data:")
print(description)

Description of Data:
             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [18]:
print("\nData Types of each column (rechecked):")
print(data.dtypes)

Data Types of each column (rechecked):
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [19]:
unique_counts = data.nunique()
print("\nUnique Values in each column:")
print(unique_counts)

Unique Values in each column:
Country      3
Age          9
Salary       9
Purchased    2
dtype: int64

In [20]:
data['Age'] = data['Age'].astype(str)
print("\nData Types after converting 'Age' to string:")
print(data.dtypes)

Data Types after converting 'Age' to string:
Country       object
Age           object
Salary       float64
Purchased     object
dtype: object